@model ReservacionHoteles.Models.CondicionPago

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Nueva Condición de Pago</h1>

<h4>Condición de Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-back">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        transition: background 0.3s ease;
    }

    .btn-create {
        background-color: cornflowerblue;
    }

        .btn-create:hover {
            background-color: cornflowerblue;
        }

    .btn-back {
        background-color: darksalmon;
    }

        .btn-back:hover {
            background-color: burlywood;
        }
</style>